global:
  tlsDisable: false
server:
  extraEnvironmentVars:
{% if provider == "gcp"  %}
    GOOGLE_APPLICATION_CREDENTIALS: /vault/userconfig/gcpckms/credentials.json
{% elif provider == "azure" %}
    AZURE_CLIENT_SECRET: {{ client_secret }}
{% endif %}
  extraVolumes:
{% if provider == "gcp" %}
  - type: secret
    name: gcpckms
{% endif %}
  - type: secret
    name: tls-cert
  ha:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        address = "[::]:8200"
        cluster_address = "[::]:8201"
        tls_cert_file = "/vault/userconfig/tls-cert/tls.crt"
        tls_key_file = "/vault/userconfig/tls-cert/tls.key"
      }

      storage "consul" {
        path = "vault"
        address = "HOST_IP:8500"
      }

      service_registration "kubernetes" {}

{% if provider == "gcp" %}
      seal "gcpckms" {
        project    = "{{ gcp.project }}"
        region     = "global"
        key_ring   = "vault"
        crypto_key = "unseal"
      }
{% elif provider == "azure" %}
      seal "azurekeyvault" {
        tenant_id     = "{{ tenant_id }}"
        client_id     = "{{ client_id }}"
        vault_name    = "{{ keyvault_name }}"
        key_name      = "unseal"
      } 
{% endif -%}
ui:
  enabled: true
